/* RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset */

* {
  box-sizing: border-box;
}

:focus {
  outline: rgba(150, 122, 220, 0.1);
}

body {
  transition: all 300ms ease-in-out;
  background-image: linear-gradient(
      62deg,
      rgba(1, 95, 183, 0.9732216701223994) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      44deg,
      rgba(0, 43, 99, 0.07922090238615942) 39%,
      rgba(242, 140, 143, 0.5) 18%
    ),
    linear-gradient(
      118deg,
      rgba(84, 202, 242, 0.03152997265339608) 40%,
      rgba(247, 155, 187, 0.5) 54%
    ),
    linear-gradient(
      58deg,
      rgba(90, 90, 237, 0.16144443572260592) 83%,
      rgba(249, 156, 142, 0.5) 23%
    );

  background-blend-mode: normal, lighten, multiply, hard-light;
  background-size: 100%;
  color: #ffffff;
  min-height: 100vh;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: auto;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  grid-row-start: 2;
  grid-row-end: 3;
}

.left,
.right {
  display: grid;
  margin: 20px;
}

.right {
  background-color: #10101d;
  border-radius: 10px;
  padding: 20px;
}

header,
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.33rem;
}

header,
form,
footer {
  display: grid;
  justify-content: center;
  align-items: center;
}

header,
footer {
  height: 75px;
}
header {
  grid-row-start: 1;
  grid-row-end: 2;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

form {
  background-color: #10101d;
  border-radius: 10px;
  padding: 40px;
  margin: auto 0;
  min-height: 400px;
  justify-content: stretch;
}
input {
  width: 80%;
}

form input,
form button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto Mono', sans-serif;
  grid-row: 1;
  padding: 10.5px;
  z-index: 1;
}

form input {
  caret-color: #ee9ca7;
}

form button {
  cursor: pointer;
  transition: all 300ms linear;
}

form button:hover {
  color: #ee9ca7;
}

form button:hover i {
  /* text-shadow: 0px 0px 12px rgba(238, 156, 167, 0.4); */
  text-shadow: rgba(238, 156, 167, 0.5) 0px 0 12px;
}

.add-task {
  background-color: #191933;
  border-radius: 5px;
}

h1 {
  display: grid;
  justify-items: center;
  align-items: end;
  padding-bottom: 8px;
}

.add-todo {
  text-align: center;
  position: relative;
}

.todo-container,
.completed-todo {
  display: grid;
  justify-items: center;
  align-items: start;
  margin: 1rem;
  min-height: 25vh;
}

.todo-list,
.completed-list {
  background-color: #191933;
  border-radius: 5px;
  min-width: 100%;
  list-style: none;
}

.todo {
  min-width: 100%;
  background: none;
  color: #ffffff;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.todo-item {
  padding: 0 8px;
}

#todo-title {
  border-bottom: 0.1rem solid #191933;
}
button {
  color: #686b7e;
  padding: 0 8px;
}

.trash-btn,
.completed-btn,
.trash-btn i,
.completed-btn i {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 300ms ease;
}

.completed,
.completed .trash-btn,
.completed .completed-btn {
  color: #484a58;
}

.completed-btn:hover {
  color: #ee9ca7;
}

.completed-btn:hover i {
  box-shadow: 0px 0px 12px 0px rgba(238, 156, 167, 0.4);
}

.trash-btn:hover {
  color: #ff3d46;
}

.trash-btn:hover i {
  /* text-shadow: 0px 0px 12px rgba(255, 61, 70, 0.4); */
  text-shadow: rgba(255, 61, 70, 0.5) 0px 0px 12px;
}

.far,
.fas {
  pointer-events: none;
}

.fall {
  transform: translateX(-15rem);
  opacity: 0;
}

.new-todo {
  background: #10101d;
  border: none;
  border-bottom: 4px solid #10101d;
  border-radius: 5px;
  color: #ffffff;
  padding: 11px 11px 7px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: all 300ms ease;
}

.new-todo:hover {
  background: #015fb7;
  border-bottom: 4px solid #015fb7;
  box-shadow: 0px 0px 12px 0px rgba(1, 95, 183, 0.4);
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.15;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.15;
  }
}

.fadeInDown {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutOpacity {
  0% {
    opacity: 0.15;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 0.15;
  }

  100% {
    opacity: 0;
  }
}

.fadeOutUp {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/*
.fadeOutDown {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.fadeDelete {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeDelete;
  animation-name: fadeDelete;
}

@-webkit-keyframes fadeDelete {
  from {
    opacity: 1;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeDelete {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}

*/

.alert {
  grid-template-columns: 6fr 1fr;
  z-index: 0;
  align-content: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  opacity: 0;
  padding: 8px 8px 12px;
  position: absolute;
  background: #ee9ca7;
  top: -50%;
  color: #2f3640;
  transition: all 500ms ease;
  width: 100%;
}

.closebtn {
  color: #2f3640;
  cursor: pointer;
  transition: all 300ms ease;
}

.closebtn:hover {
  color: #ffffff;
}

.yellow {
  color: #fff171;
}

.green {
  color: #9dff6f;
}

.blue {
  color: #2dcdff;
}

.pink {
  color: #ff1fa5;
}

ul div {
  list-style: none;
  height: 0;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: 10em;
}

ul div.show {
  height: 2.5em;
}

.fade div {
  transition: all 400ms ease-out;
  opacity: 0;
}
.fade div.show {
  opacity: 1;
}

@media (max-width: 800px) {
  .page {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 70vh;
  }
  .left,
  .right {
    margin: 10px 10px 0;
  }
  form {
    min-height: 0;
  }
}
